<link rel="stylesheet" href="/css/Home.css">
<nav class="navbar navbar-dark bg-dark nav-dash">
  <div class="dasboard-nav">
    <a style = "margin-left: 1025px;" href="/users/logout" class="btn btn btn-danger btn-sm">Logout</a>
  </div>
</nav>

<center>  <h1 class="lead mb-3">Welcome <%= name %></h1></center>
