<link rel="stylesheet" href="/css/Home.css">
<nav class="navbar navbar-dark bg-dark nav-dash">
  <div class="dasboard-nav">
    <a style="margin-left: 1025px;" href="/users/logout" class="btn btn btn-danger btn-sm">Logout</a>
  </div>
</nav>

<center>
  <h1 class="lead mb-3">Welcome <%= name %></h1>
</center>
<center>
  <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23F09300&amp;ctz=Europe%2FLondon&amp;src=Z3A2MnNxYjA2aHA1NTR1NnQwcjkzNDlvMzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23B39DDB"
    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</center>
