<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h2>How it Works?</h2>
  <ul>
    <li>Create a free account, this will give you access to a calender to check for availability</li>
    <li>Use this to check for tutoring sessions.</li>
    <li>At the time of the session use the interactive whiteboard as well as audio capabilities enabled during the tutoring session</li>
    <li>These features will connect me (The tutor) and you (The Student) in real time </li>
    <li>We will be able to write/draw back and forth on the whiteboard, type in the chat box, and verbally communicate through the audio feature</li>
    <li> The audio feature is higly reccomended but not required. You will be able to communicate through your browser</li>
  </ul>
</body>

</html>
