<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
<meta name="google-signin-client_id" content="802881676368-hkfu6avfnunt9gii2tnq47b9v95f8ib0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/Home.css">



<body>
  <section class="contact">
    <div>
      <nav class="navbar navbar-dark bg-dark math-nav">
        <div class="info">
          <li><a href="views\howItWorks.html">How it Works<br></a></li>
          <li><a href="views\contact.html"> Contact</a></li>
          <li><a href="views\about.html"> About</a></li>
        </div>

        <div class="login-registration">
          <a href="/users/register" class="btn btn-primary btn-sm">Register</a>
          <a href="/users/login" class="btn btn-secondary btn-sm">Login</a>
        </div>
      </nav>


    </div>
    <div class="teacher-title">
      <h1>Ramsey's Math Tutoring LLC <br></h1>
    </div>
  </section>

  <section class="how-it-works">
    <div class="how-it-works-text">

      <h2>How it Works?</h2>

      <ul>
        <li>Create a free account, this will give you access to a calender to check for availability</li>
        <li>Use this to check for tutoring sessions.</li>
        <li>At the time of the session use the interactive whiteboard as well as audio capabilities enabled during the tutoring session</li>
        <li>These features will connect me (The tutor) and you (The Student) in real time </li>
        <li>We will be able to write/draw back and forth on the whiteboard, type in the chat box, and verbally communicate through the audio feature</li>
        <li> The audio feature is higly reccomended but not required. You will be able to communicate through your browser</li>
      </ul>
  </section>

  <section class = "about">
      <h2>About me</h2>
      <p>Ramsey's math tutoring is an online based tutoring website helping students in different sectors of math.</p>
  </section>

  <footer class="footer">
    <p><b>Contact me:</b></p>
    <li><i class="ion-email icon icon-small"></i> C.Ramsey.Tutoring@gmail.com</li>
  </footer>



  <!--
  <section class="setup">
    <div class="row how-it-works">
      <div class="col-sm ">
        <div class="how-it-works-head">
          <a href="*"><u>How tutoring sessions work </u><br></a>
          <a href="*"> <u>Terms and Conditions </u></a>

          <p>
            If interested in tutoring, please read the above two links<br> and create a free account. Feel free to contact me at my email with any questions you may have.
          </p>
        </div>
      </div>

      <div class="col-sm">
        <div class="create-free-account">
          <div class="login-signup">

            <button href="/users/register">Register</button>
            <button href="/users/login">Login</button>
             <a href = "sign-up.html"><u>Create Free Account<br></u></a>

             <a href = "login.html"><u>Login</u></a>
          </div>

        </div>
      </div>
  </section>
</div>

-->




  <!--  <div class="">
  <h1><i class="fab fa-node-js fa-3x"></i></h1>
  <nav class="navbar navbar-dark bg-dark math-nav">

    <a href="default.asp">Home</a>
    <a href="./HowTutoringSessionWork.html">How it Works</a>
    <a href="contact.asp">Contact</a>
    <a href="about.asp">About</a>
    <button href="/users/register">Register</button>
    <button href="/users/login">Login</button>

  </nav>
  <h1>Ramsey's Math Tutoring LLC </h1>
</div>-->
